[Desktop Entry]
Name=org-protocol
Exec=bash -c "$HOME/.local/bin/scratchpad && emacsclient %u"
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;
